
#companyProfileLayout{
    min-height: 100vh;
    background-image:url('../images/image.png');
}

#contentContainer{
    width: 70vw;
    border-radius: 5px;
    padding: 1%;
    margin: 0 auto;
    background-color: rgb(253, 204, 3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.3);
}

.companyLogo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#companyName {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
    font-weight: bold;
    font-family: poppins;
}

#companyDesc{
    font-family: poppins;
    font-size: clamp(1rem, 3vw, 1.3rem);
    
}

.tasksMainContainer{
    margin: 0 auto;
    background-color: white;
    height: 150px;
    border-bottom: solid 1px silver;
}

#activeTaskLabel{
    font-size: clamp(1.3rem,3vw,2rem);
}