@keyframes cardAnimation{
    0%{
        margin-top: -1.5%;
        opacity: 0;
        z-index: 1;
    }


    100%{
        z-index: 1;
        margin: 0;
        opacity: 1;
    }
}

.companyCardContainer{
    animation: cardAnimation 0.5s linear;
}


.homeMainLayout{
    flex: 1 1 auto;
    background-color: yellow;
    font-family: poppins;
    padding: 2.5%;
}



